.o-text-title, .o-text-span, .o-text-link, .o-text, .o-text-li, .o-text-title-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.o-text-title {
  font-size: 1.8em;
  color: #ffffff;
}

.o-text-title-2 {
  font-size: 1.4em;
  color: #bdc0c5;
}

.o-text-span, .o-text-link, .o-text-li {
  font-size: 0.95em;
}

.o-form__dropdown-list {
  color: #ffffff;
}

.o-btn {
  color: #ffffff;
}

.o-text-link {
  color: #ffffff;
  text-decoration: none;
}

.o-text-link--big {
  font-size: 1.4em;
}

.o-crafts__text {
  color: #ffffff;
}

.o-inventory__item-name,
.o-inventory__item-amount,
.o-inventory__item-price {
  color: #ffffff;
}

.o-text-span--author {
  color: #bdc0c5;
}

.o-text-span--color {
  color: gold;
}

.o-crafts__title {
  font-size: 1.2em;
}

.l-container {
  height: 812px;
  width: 375px;
  margin: 0 auto;
  overflow: auto;
}

.o-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  width: 375px;
  height: 50px;
  top: 0px;
  z-index: 1;
}

.m-main-ui__form {
  margin: 15px 10px 15px;
}

.o-form {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.o-input {
  width: 22.5%;
}

.o-form__dropdown-list {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-materials__list {
  position: absolute;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-main-ui__crafts {
  margin: 0 20px 10px;
  height: 300px;
  overflow: auto;
  border-radius: 10px;
}

.m-crafts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-crafts__item {
  margin: 5px 5px;
  border-radius: 10px;
  text-align: center;
}

.o-crafts__item-name {
  margin: 3px;
}

.o-crafts__interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px;
}

.m-main-ui__inventory {
  margin: 0 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  overflow: auto;
}

.o-inventory__item {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15%;
  margin: 5px auto;
}

.o-inventory__item-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.o-inventory__item-name,
.o-inventory__item-amount,
.o-inventory__item-price {
  padding: 5px;
  margin: 5px;
}

.m-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-footer__author, .m-footer__socials {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-footer__credits,
.m-footer__donate {
  padding: 5px;
  margin: 3px;
}

.m-footer__social {
  margin: 5px;
}

.m-main-ui__name {
  text-align: center;
}

.l-container {
  background-color: #1f2735;
}

.o-icon {
  width: 35px;
}

.o-topbar {
  background-color: black;
}

.o-topbar__logo {
  width: 45px;
}

.o-input {
  border-radius: 10px;
  border: none;
  padding: 7px;
}

.o-form__dropdown-list--background {
  background-color: black;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.o-btn {
  background-color: #1852fe;
  border: none;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.m-footer__social {
  border-radius: 10px;
  padding: 5px;
}

.o-socials__fb {
  background-color: #2e6bea;
}

.o-socials__ig {
  background-color: #db2e80;
}

.o-socials__tw {
  background-color: #00a2f5;
}

.o-materials__list,
.o-materials__elem {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
}

.o-materials__list--display-none {
  display: none;
}

.o-materials__elem {
  background-color: #1a1110;
  cursor: pointer;
}

.o-materials__span {
  cursor: pointer;
}

.m-main-ui__crafts {
  background-color: #ffffff;
}

.o-crafts__item {
  background-color: black;
  padding: 5px;
}

.o-materials__elem {
  margin: 3px;
  padding: 5px;
  text-align: center;
}

.o-materials__elem::hover {
  opacity: 0.5;
}

.m-main-ui__inventory {
  background-color: black;
  border-radius: 10px;
}

.m-nav {
  padding: 0px;
  margin: 5px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-nav__li {
  list-style-type: none;
  margin: 5px;
  display: inline-block;
}

.m-nav__link {
  display: block;
  padding: 10px 5px;
  background-color: black;
  border-radius: 5px;
}

.l-container--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-container::-webkit-scrollbar,
.m-main-ui__crafts::-webkit-scrollbar,
.m-main-ui__inventory::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

.l-container::-webkit-scrollbar-track,
.m-main-ui__crafts::-webkit-scrollbar-track,
.m-main-ui__inventory::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  /* color of the tracking area */
}

.l-container::-webkit-scrollbar-thumb,
.m-main-ui__crafts::-webkit-scrollbar-thumb,
.m-main-ui__inventory::-webkit-scrollbar-thumb {
  background-color: gray;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.o-crafts__btn--in-sale {
  background-color: blueviolet;
}

.o-crafts__item--available {
  border: solid 4px #00FF00 !important;
}

.o-crafts__item--unavailable {
  border: solid 4px #a82e2e;
}
/*# sourceMappingURL=styles.css.map */